*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    border: 1px dashed black;
}

[class*='col']{
    background-color: blue;
    height: 150px;
    text-align: center;
    border: 1px solid black;
    padding: 20px 0;
}

.nested{
    background-color: aqua;
    height: 100px;
    border: 3px solid white;
}

.row-nested{
    padding: 15px 0;
}

.row .col-6{
    padding: 0 3px;
}